.container {
    width: 100%;
        max-width: 500px;
        margin-bottom: 24px;
}

.container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.3s ease;
        border: none;
}

.container input:focus {
    border-color: #ffffff;
    outline: none;
}


.span {
margin-bottom: 24px;
}